<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Author Meta -->
		<meta name="author" content="{{ author }}">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>{{ title }}</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/linearicons.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/bootstrap/bootstrap-grid.css">
		<link rel="stylesheet" href="css/bootstrap/bootstrap-reboot.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- <link rel="stylesheet" href="css/main.minified.css"> -->
	</head>
	<body class="home-20">
		<div id="top"></div>
		<header class="header-4 header-20">
			<div class="total-header-area default-header">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-3">
							<div class="logo">
								<a href="#">
									<img src="img/lemmino.png" alt="logo">
								</a>
							</div>
						</div>
						
						<div class="col-9 d-flex justify-content-end align-items-center">
							<div class="main-menu">
								<nav>
									<ul class="d-flex">
										<li><a href="#top">Home</a></li>
										<li><a href="#features">Features</a></li>
										<li><a href="#price">Price</a></li>
										<li><a href="#testimonials">Testimonials</a></li>
									</ul>
								</nav>
							</div>
							<div class="btn-group d-flex">
								<a href="#" class="btn-first color-20 mr-10">Signup</a>
								<a href="#" class="btn-first color-20 mrm-0">Login</a>
							</div>
							<div class="menu-group d-flex justify-content-end">
								<a href="#" class="menu-btn toggle-btn hidden-md-up"><span class="lnr lnr-menu"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="side-menubar">
				<nav>
					<ul class="color-17">
						<li><a href="#top">Home</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#price">Price</a></li>
						<li><a href="#testimonials">Testimonials</a></li>
					</ul>
				</nav>
				<div class="menu-contact">
					<div class="email">
						<a href="mailto:info@execution.com">info@execution.com</a> <br>
						<a href="tel:+8801956236452">+880 1956 236 452</a>
					</div>
					<div class="social-contact color-8 d-flex justify-content-center">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</header>
		<!-- Start Banner Area -->
		<section class="zeplin-banner">
			<div class="container">
				<div class="row fullscreen align-items-center">
					<div class="col-lg-12">
						<div class="banner-left text-center">
							<h1 class="text-white">You Got The Power</h1>
							<p class="text-white">We build software tools focused on giving individuals expert control</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		
		<!-- Start Helping Area -->
		<section class="section-150">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-title-20 text-center">
							<h2>Powerful tools for powerful individuals</h2>
							<p>Just this March, 2,563,069 Sketch and Photoshop β designs were exported to Zeplin, turned <br> into powerful specs and resources. </p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="build-content text-center">
							<img src="img/home20/s1.png" alt="" class="img-fluid d-inline-block"> <br>
							<a href="#" class="btn-first color-20">Get started free</a>
							<p class="bottom-text">
								AVAILABLE FOR MAC, WINDOWS & WEB <br>
								NO CREDIT CARD REQUIRED & UNLIMITED TEAMMATES
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Helping Area -->
		<!-- Start Features Area -->
		<section id="features" class="section-150 section-bg feature-area-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-title-20 text-center">
							<h2>Powerful tools for powerful individuals</h2>
							<p>Lemmino </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="single-feature d-flex">
							<div class="icon">
								<span class="lnr lnr-pencil"></span>
							</div>
							<div>
								<h4>Design Hand-off</h4>
								<p>Preparing specs is very tedious, we know that. Upload with just one click, then Zeplin prepares all of them for you, automatically</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex">
							<div class="icon">
								<span class="lnr lnr-history"></span>
							</div>
							<div>
								<h4>Always Up to date</h4>
								<p>Zeplin stores everything in cloud,Upload with your team members will always see the latest resources.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex">
							<div class="icon">
								<span class="lnr lnr-layers"></span>
							</div>
							<div>
								<h4>Generating Assets</h4>
								<p>Pick the asset you want to export. Then Zeplin will generate all sizes of the assets according to platform needs.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex">
							<div class="icon">
								<span class="lnr lnr-sync"></span>
							</div>
							<div>
								<h4>Sync Everything</h4>
								<p>Naming all the colors and changing them in every update? Zeplin exports code snippets out of designs, and does all this repetitive work for you.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex">
							<div class="icon">
								<span class="lnr lnr-bubble"></span>
							</div>
							<div>
								<h4>Instant Notification</h4>
								<p>Connect your Zeplin project to a Slack channel and everyone in the team will be notified whenever a design or a resource is updated! </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-feature d-flex">
							<div class="icon">
								<span class="lnr lnr-rocket"></span>
							</div>
							<div>
								<h4>Easy Implementation</h4>
								<p>Inspecting specs has never been this painless. You can click on a layer and see all the information tailored to the platform needs.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Features Area -->
		
		<!-- Start Cta Area -->
		<section class="cta-20 section-150">
			<div class="bg-pattern"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="cta-content left-cta">
							<h3 class="text-white">Saves time for designers</h3>
							<ul>
								<li><span class="lnr lnr-pointer-right"></span>Design hand-off has never been easier</li>
								<li><span class="lnr lnr-pointer-right"></span>Keep your style guides always up-to-date</li>
								<li><span class="lnr lnr-pointer-right"></span>Don’t think on sizes, generate assets easily</li>
								<li><span class="lnr lnr-pointer-right"></span>Discuss with developers, don’t miss anything</li>
								<li><span class="lnr lnr-pointer-right"></span>Notify teammates about design changes instantly</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="cta-content right-cta">
							<h3 class="text-white">Makes job easier for developers</h3>
							<ul>
								<li><span class="lnr lnr-pointer-right"></span>See what you need. Implement easily!</li>
								<li><span class="lnr lnr-pointer-right"></span>Lower the repetitive work, keep everything in sync</li>
								<li><span class="lnr lnr-pointer-right"></span>Don’t lose yourself in folders, here they are! </li>
								<li><span class="lnr lnr-pointer-right"></span>Get notified of design updates instantly</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Cta Area -->
		<!-- Start Pricing Area -->
		<section id="price" class="section-150 price-table-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-title-20 text-center">
							<h2>Simple Plans, for Everyone</h2>
							<p>Built for your projects, your workflows, your goals, your team.</p>
						</div>
					</div>
				</div>
				<nav class="ct-nav d-flex justify-content-center" id="myTab" role="tablist">
					<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Monthly</a>
					<a class="nav-item2 nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Annual</a>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head free text-white">Free</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>00.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">1 Active Project <br> Individual Member</p>
										<a href="#" class="btn-first free">Purchase Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head starter text-white">Starter</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>17.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">3 Active Project <br> Individual Member</p>
										<a href="#" class="btn-first starter">Purchase Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head buisness text-white">Business</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>26.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">12 Active Project <br> Individual Member</p>
										<a href="#" class="btn-first buisness">Purchase Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head organaization text-white">Organaization</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>6.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">Unlimited Project <br> 10 Member</p>
										<a href="#" class="btn-first organaization">Purchase Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head free text-white">Free</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>00.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">1 Active Project <br> Individual Member</p>
										<a href="#" class="btn-first free">Purchase Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head starter text-white">Starter</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>17.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">3 Active Project <br> Individual Member</p>
										<a href="#" class="btn-first starter">Purchase Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head buisness text-white">Business</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>26.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">12 Active Project <br> Individual Member</p>
										<a href="#" class="btn-first buisness">Purchase Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="single-price-table">
									<h4 class="head organaization text-white">Organaization</h4>
									<div class="sub-head text-center">
										<div class="premium-price text-center">
											<h3><sup>$</sup>6.0<sub>/m</sub></h3>
										</div>
										<p class="price-text">Unlimited Project <br> 10 Member</p>
										<a href="#" class="btn-first organaization">Purchase Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Pricing Area -->
		<!-- Start Testimonial Area -->
		<section id="testimonials" class="testimonial-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-title-20 text-center">
							<h2>Customer Feedback</h2>
							<p>Built for your projects, your workflows, your goals, your team.</p>
						</div>
					</div>
				</div>
				<div class="testimonial-wrapper">
					<div class="active-testimonial-18">
						<div class="item text-center">
							<img src="img/home20/t1.png" alt="">
							<p>“I knew from the second I discovered Leadpages that my email list was going to see some serious growth.
								From Day One, that's exactly what happened. I've used Leadpages for my product launches,
							live webinars, trainings, sales pages, free giveaways”</p>
							<div class="testimonial-person">
								<h3>Amy Porterfield</h3>
								<span>CEO of amyporterfield.com</span>
							</div>
						</div>
						<div class="item text-center">
							<img src="img/home20/t1.png" alt="">
							<p>“I knew from the second I discovered Leadpages that my email list was going to see some serious growth.
								From Day One, that's exactly what happened. I've used Leadpages for my product launches,
							live webinars, trainings, sales pages, free giveaways ”</p>
							<div class="testimonial-person">
								<h3>Amy Porterfield</h3>
								<span>CEO of amyporterfield.com</span>
							</div>
						</div>
						<div class="item text-center">
							<img src="img/home20/t1.png" alt="">
							<p>“I knew from the second I discovered Leadpages that my email list was going to see some serious growth.
								From Day One, that's exactly what happened. I've used Leadpages for my product launches,
							live webinars, trainings, sales pages, free giveaways.”</p>
							<div class="testimonial-person">
								<h3>Amy Porterfield</h3>
								<span>CEO of amyporterfield.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Testimonial Area -->
		<!-- Start brand Area -->
		<div class="section-100">
			<div class="container">
				<div class="total-brand-17 d-flex flex-wrap justify-content-md-between justify-content-center align-items-center">
					<img src="img/home17/b1.png" alt="Brand Logo">
					<img src="img/home17/b2.png" alt="Brand Logo">
					<img src="img/home17/b3.png" alt="Brand Logo">
					<img src="img/home17/b4.png" alt="Brand Logo">
					<img src="img/home17/b5.png" alt="Brand Logo">
				</div>
			</div>
		</div>
		<!-- End brand Area -->
		
		<!-- Start Subscription -->
		<section class="section-150 subscription-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-md-12">
						<div class="section-title-20 text-center">
							<h2>Join for free today</h2>
							<p>Asana is simple enough for your entire team. And, when work gets complicated, <br> Asana has the features you need to move the project forward.</p>
						</div>
					</div>
				</div>
				<div class="subscription border d-flex justify-content-center">
					<form id="mc-form" class="newsletter-form d-flex justify-content-center flex-wrap">
						<input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address'">
						<button class="btn-first color-20">Get Started for free</button>
					</form>
				</div>
			</div>
		</section>
		<!-- End Subscription -->
		
		<footer class="default-footer">
			<div class="container">
				<div class="d-flex justify-content-between no-flex-xs">
					<div class="footer-copy-right">
						<p>&copy; 2018. All Rights Reserved<span>|</span><a href="#">Lemmino, Inc.</a></p>
					</div>
					<div class="footer-social-link">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</footer>
		
		<!--
		JavaScripts
		========================== -->
		<script src="js/vendor/jquery-2.2.4.min.js"></script>
		<script src="js/vendor/tether.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/jquery.sticky.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>